#blank_area_0{
        position : absolute;
        height : 25.71428571428571%;
        width : 27.536231884057973%;
        top : 1.995237142857143%;
        left : 2%;
      }
#blank_area_1{
        position : absolute;
        height : 15.714285714285714%;
        width : 13.333333333333334%;
        top : 63.35228571428571%;
        left : 82.89855072463767%;
      }
#blank_area_2{
        position : absolute;
        height : 18.857142857142858%;
        width : 18.26086956521739%;
        top : 30.2%;
        left : 55.61826086956522%;
      }
